

:root {
  --primary-color: #212121;
  --background-color: #111;
  --font: sans-serif;
}

.make-it-pop h2, 
.make-it-pop h3 {
  color: #ffd801;
}

/* Timeline Container */

/* Card container */
.make-it-pop .card {
  font-size: 1.8rem;
  position: relative;
}

/* setting padding based on even or odd */
.make-it-pop .card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.make-it-pop .card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.make-it-pop .card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #333;
}

/* Setting the border of top, bottom, left */
.make-it-pop .card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.make-it-pop .card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.make-it-pop .card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.make-it-pop .card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.make-it-pop .card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.make-it-pop .info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.make-it-pop .title {
  color: #f4f4f4;
  position: relative;
}

/* Timeline dot  */
.make-it-pop .title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffd801;
  border-radius: 999px;
  border: 3px solid #ffd801;
}

/* text right if the card is even  */
.make-it-pop .card:nth-child(even) > .info > .title {
  text-align: right;
}

.make-it-pop .card:nth-child(odd) > .info > .title {
  text-align: left;
}

/* setting dot to the left if the card is odd */
.make-it-pop .card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.make-it-pop .card:nth-child(even) > .info > .title::before {
  right: -45px;
}

